*{
    margin: 0;
    padding: 0;
}
body{
    background: pink;
    font: normal 80% Helvetica;
    
}

#main{ 
    margin-left: auto; 
    margin-right: auto;
    padding: 30px 0px;
    background: transparent;
}

.header{ 
    height: 70px;
    width: 100%;
    background: #43A9FF;
    border-radius: 15px 15px 15px 15px;
    
}

h1{
    color: blue;
    text-shadow: 0px 1px 0px #000;
    letter-spacing: -1px;
    text-align: center ;
    padding-top: 20px;

}

span{ 
    color: #136ab1;
    text-shadow: 0px 1px 0px #FFF;
}

.menubar{ 
    width: 450px;
    height: 40px;
    text-align: center; 
    margin: 0 auto;
} 

a, a:hover { 
    color: #FFF;
    
    font-weight: bold;
    outline: none;
    text-decoration: underline;
}

a:hover{ 
    text-decoration: none;
}

ul{ 
    margin: 2px 0 22px 30px;
    line-height: 1.7em;
    font-style: normal;
    font-size: 100%;
}

ul.nav li{ 
    padding: 0 0 0 0px;
    list-style: none;
    margin: 2px 0 0 0;
    display: inline;
}

ul.nav li a{ 
    float: left;
    font: bold 130% 'PacificoRegular', Arial, sans-serif;
    height: 24px;
    margin: 5px 0 0 20px;
    text-shadow: 0px 1px 0px #000;
    padding: 0px 40px 40px 20px;
    text-align: center;
    color: orchid;
    text-decoration: none;
} 

h3{
    color: blue;
    text-shadow: 0px 1px 0px #000;
    letter-spacing: -1px;
    margin: 0 0 10px 0; 
}

.content{ 
    width: 980px;
    overflow: hidden;
    margin: 0 0 20px 20px;
    float: left;
    margin-bottom: 30px;
    border-radius: 0px 0px 15px 15px;
    box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 5px;
    padding-left: 20px;
   
} 

h2{ 
    color: blue;
    text-shadow: 0px 1px 0px #000;
    letter-spacing: -1px;
    text-align: left ;
    padding-top: 20px;
}

p{ 
    padding: 0 0 10px 0;
    color: black;
    line-height: 2em;
    font-size: 100% 
}

.sidebar{ 
    float: right;
    width: 240px;
    padding-left: 6px;
    margin-bottom: 20px;
}

.sideitem{ 
    font: normal 100% Helvetica;
    width: 190px;
    
}

.footer{ 
    width: 78%;
    height: 50px;
    padding-top: 400px;
    padding-bottom: 20px;
    font-weight: bold;
    text-align: center; 
    text-shadow: 1px 1px #000;
    color: #FFF;
    background: #43A9FF;
    border-radius: 15px 15px 15px 15px;
    box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 5px;

}


